<!--<div class="container">-->
<mat-card class="mat-elevation-z24 float-center">
  <mat-card-header>
    <mat-card-title>
      Einsatz Kräfte Anzeige System // ekas.app
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmitLogin(form.value)">
      <mat-form-field style="width: 80%">
        <input
          required
          matInput
          type="text"
          ngModel
          name="currentFF"
          placeholder="Feuerwehr">
      </mat-form-field>
      <mat-form-field>
        <input
          required
          matInput
          type="email"
          ngModel
          name="email"
          placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input
          required
          matInput
          type="password"
          ngModel
          name="password"
          placeholder="Passwort">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" aria-label="login" [disabled]="form.invalid ? true : false">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </form>
    <div>
      {{ (hasError | async)?.message }}
    </div>
  </mat-card-content>
</mat-card>


<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<!--</div>-->
