<div class="card">
  <div class="card-header">
    <span class="h5">
      Details ansehen / bearbeiten
    </span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col s4">
        <i class="material-icons prefix">account_circle</i>
        <input
        placeholder="Nachname"
        class='validate'
        id='suche'
        type='text'
        (keyup)='updateFilter($event)'
        />
      </div>
      <div class="col s8">
          <div *ngIf="selected.length > 0" class='selected-column'>
            <app-kamerad-form [personal]="selected[0]" [check1]="false" [check2]="false"></app-kamerad-form>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col s4">
        <ngx-datatable
          class="material"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="5"
          [selected]="selected"
          [selectionType]="'single'"
          [rowHeight]="'auto'">
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>