<div class="card">
  <div class="card-content">
    <span class="grey lighten-1 card-title center-align">
      Details ansehen / bearbeiten
    </span>
    <div class="divider"></div>
  <!-- </div> -->
  <!-- <div class="card-body"> -->
    <div class="row">
      <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <label for="suche">Suchen per Nachnamen</label>
          <input
          class='validate'
          id='suche'
          type='text'
          (keyup)='updateFilter($event)'
          />
        <ngx-datatable
          class="material"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="5"
          [selected]="selected"
          [selectionType]="'single'"
          [rowHeight]="'auto'">
        </ngx-datatable>
      </div>
      <div class="col s8">
        <div *ngIf="selected.length > 0" class='selected-column'>
          <app-kamerad-form [personal]="selected[0]" [check1]="false" [check2]="false"></app-kamerad-form>
        </div>
      </div>
    </div>
  </div>
</div>