<!--NEW PERSONAL FORM-->
<div class="container" *ngIf="kamerad">
  <form #form="ngForm" (ngSubmit)="onSubmit(form); form.reset()">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label font-weight-bold">Nachname</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputName" placeholder="Nachname*" [ngModel]="kamerad.lastName" name="lastName">
        <!--<small *ngIf="lastName.touched && lastName.invalid" class="text-danger">Nachname erforderlich</small>-->
      </div>
    </div>
    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label font-weight-bold">Vorname</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputFirstName" placeholder="Vorname*" [ngModel]="kamerad.firstName" name="firstName">
        <!--<small *ngIf="firstName.invalid && firstName.touched" class="text-danger">Vorname erforderlich</small>-->
      </div>
    </div>
    <div class="form-group row">
      <label for="inputRfid" class="col-sm-2 col-form-label font-weight-bold">RFID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputRfid" placeholder="RFID*" [(ngModel)]="kamerad.rfid" name="rfidRef" disabled>
        <input type="hidden" [ngModel]="kamerad.rfid" name="rfid">
        <small class="text-secondary">RFID kann nicht geändert werden. Wenn sich die RFID geändert hat, muss der Kamerad neu eingepflegt werden!</small>
      </div>
    </div>

    <div class="form-group row" ngModelGroup="funktionen" #funktionen="ngModelGroup">
      <div class="col-sm-6 col-lg-3 font-weight-bold">Funktionen</div>
      <div class="col">
        <div class="row no-gutters">
          <div class="col-sm-4">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.PA" name="PA" type="checkbox"> Atemschutz <i class="fa fa-tachometer fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.CE" name="CE" type="checkbox"> Maschinist C/CE <i class="fa fa-truck fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.saw" name="saw" type="checkbox"> Kettensägenführer <i class="fa fa-tree fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.gsg" name="gsg" type="checkbox"> Gefahrgut <i class="fa fa-universal-access fa-lg"></i>
              </label>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.eva" name="eva" type="checkbox"> EVA-Gruppe <i class="fa fa-laptop fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.log" name="log" type="checkbox"> Logistik-Gruppe <i class="fa fa-clipboard fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.NS" name="NS" type="checkbox"> Notstrom-Gruppe <i class="fa fa-plug fa-lg"></i>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.RS" name="RS" type="checkbox"> NotSan / RettAss / RettSan <i class="fa fa-stethoscope fa-lg"></i>
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input text-light" [ngModel]="kamerad.funktionen.GF" name="GF" type="checkbox"><span class="bg-primary text-white">Gruppenführung</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.ZF" name="ZF" type="checkbox"><span class="bg-danger text-white">Zugführung</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.owf" name="owf" type="checkbox"><span class="bg-warning">Ortswehrführung</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.gwf" name="gwf" type="checkbox"><span class="bg-warning">Gemeindewehrfürung</span>
              </label>
            </div>
          </div>
          <!--</div>-->
        </div>

      </div>






    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block">Speichern</button>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col">
            <form class="form-inline">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="check1" name="check1">
                </label>
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="check2" name="check2">
                </label>
                <button type="button" [disabled]="!check1 || !check2" (click)="onDelete(kamerad); form.reset()" class="btn btn-danger btn-block">Löschen</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-muted">Beide Kästen anlicken um löschen freizugeben!</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--/NEW PERSONAL FORM-->
