<!--NEW PERSONAL FORM-->

<ng-container *ngIf="kamerad">
  <form #form="ngForm" (ngSubmit)="onSubmit(form); form.reset()">
    <!-- Ausgabe Name, Vorname und RFID -->
    <div class="row">
      <div class="input-field col s4">
        <input required type="text" class="validate"  id="inputName" [ngModel]="kamerad.lastName" name="lastName">
        <label class="active" for="inputName">Nachname</label>
        <span class="helper-text" data-error='Feld "Nachname" darf nicht leer sein'></span>
      </div>
      <div class="input-field col s4">
        <input required type="text" class="validate" id="inputFirstName" [ngModel]="kamerad.firstName" name="firstName">
        <label class="active" for="inputFirstName">Vorname</label>
        <span class="helper-text" data-error='Feld "Vorname" darf nicht leer sein'></span>
      </div>
      <div class="input-field col s4">
        <input type="text" class="validate" id="inputRfid" placeholder="RFID*" [(ngModel)]="kamerad.rfid" name="rfidRef" disabled>
        <label class="active" for="inputRfid">RFID</label>
        <!-- <span class="helper-text" data-error='Schwerwiegender Fehler!!!'>RFID kann nicht geändert werden. Wenn sich die RFID geändert hat, muss der Kamerad neu eingepflegt werden!</span> -->
        <input type="hidden" [ngModel]="kamerad.rfid" name="rfid">
      </div>
    </div>
    <!-- / Ausgabe Name, Vorname und RFID -->

    <!-- Ausgabe der Funktionen -->
    <div class="row" ngModelGroup="funktionen" #funktionen="ngModelGroup">
      <!-- <div class="row">
        <div class="col s6 offset-s3">
          <span class="flow-text">Funktionen</span>
        </div>
      </div> -->
      <!-- <div class="col"> -->
        <div class="row ">
          <div class="col s4">
            <p>
              <label>
                <input [ngModel]="kamerad.funktionen.PA" name="PA" type="checkbox" />
                <span>
                  Atemschutz <i class="fa fa-tachometer fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                  <input [ngModel]="kamerad.funktionen.CE" name="CE" type="checkbox" />
                <span>
                    Maschinist C/CE <i class="fa fa-truck fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                  <input [ngModel]="kamerad.funktionen.saw" name="saw" type="checkbox" />
                <span>
                  Kettensägenführer <i class="fa fa-tree fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                  <input [ngModel]="kamerad.funktionen.gsg" name="gsg" type="checkbox" />
                <span>
                  Gefahrgut <i class="fa fa-universal-access fa-lg"></i>
                </span>
              </label>
            </p>
          </div>
          <div class="col s4">
            <p>
              <label>
                  <input [ngModel]="kamerad.funktionen.eva" name="eva" type="checkbox" />
                <span>
                  EVA-Gruppe <i class="fa fa-laptop fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                  <input [ngModel]="kamerad.funktionen.log" name="log" type="checkbox" />
                <span>
                  Logistik-Gruppe <i class="fa fa-clipboard fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                <input [ngModel]="kamerad.funktionen.NS" name="NS" type="checkbox" />
                <span>
                  Notstrom-Gruppe <i class="fa fa-plug fa-lg"></i>
                </span>
              </label>
            </p>
            <p>
              <label>
                <input [ngModel]="kamerad.funktionen.RS" name="RS" type="checkbox" />
                <span>
                  NotSan / RettAss / RettSan <i class="fa fa-stethoscope fa-lg"></i>
                </span>
              </label>
            </p>
          </div>
          <div class="col s4">
              <p>
                <label>
                    <input [ngModel]="kamerad.funktionen.GF" name="GF" type="checkbox" />
                    <span>
                      <span class="blue white-text">
                        Gruppenführung
                      </span>
                    </span>
                </label>
              </p>
              <p>
                <label>
                    <input [ngModel]="kamerad.funktionen.ZF" name="ZF" type="checkbox" />
                    <span>
                        <span class="red white-text">
                          Zugführung
                        </span>
                      </span>
                </label>
              </p>
              <p>
                <label>
                  <input [ngModel]="kamerad.funktionen.owf" name="owf" type="checkbox" />
                  <span>
                      <span class="yellow black-text">
                        Ortswehrführung
                      </span>
                    </span>
                </label>
              </p>
              <p>
                <label>
                  <input [ngModel]="kamerad.funktionen.gwf" name="gwf" type="checkbox" />
                  <span>
                      <span class="yellow black-text">
                        Gemeindewehrführung
                      </span>
                    </span>
                </label>
              </p>
            </div>
          <!-- <div class="col s4">
              <label class="form-check-label">

              </label>

              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.ZF" name="ZF" type="checkbox"><span class="bg-danger text-white">Zugführung</span>
              </label>

              <label class="form-check-label">
                <input class="form-check-input" [ngModel]="kamerad.funktionen.owf" name="owf" type="checkbox"><span class="bg-warning">Ortswehrführung</span>
              </label>

              <label class="form-check-label">
                  <input class="form-check-input" [ngModel]="kamerad.funktionen.gwf" name="gwf" type="checkbox"><span class="bg-warning">Gemeindewehrführung</span>
              </label>
          </div> -->
          <!--</div>-->
        </div>

      </div>
    <!-- </div> -->
    <!-- </div> -->
    <div class="form-group row">
      <div class="col s2">
        <button type="submit" class="btn">Speichern</button>
      </div>
      <div class="col s10">
          <button type="button" [disabled]="!check1 || !check2" (click)="onDelete(kamerad); form.reset()" class="btn btn-danger btn-block">Löschen</button>
          <label>
              <input [(ngModel)]="check1" name="check1" type="checkbox" />
              <span></span>
          </label>
          <label>
            <input [(ngModel)]="check2" name="check2" type="checkbox" />
            <span></span>
          </label>

          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <p class="text-muted">Beide Kästen anlicken um löschen freizugeben!</p>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </form>
</ng-container>
<!--/NEW PERSONAL FORM-->
