<div *ngIf="finishedLoading && overview.sum >0">
  <mat-toolbar style=" justify-content: space-between;">
    <span class="fa-4x">
      <i class="fas fa-users"></i>: {{overview.sum}}
    </span>
    <span [ngStyle]="{'color' : overview.PA ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-tachometer-alt"></i>: {{ overview.PA}}
    </span>
    <span [ngStyle]="{'color' : overview.CE ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-truck"></i>: {{ overview.CE}}
    </span>
    <span [ngStyle]="{'color' : overview.gsg ? 'black' : 'red'}" class="fa-4x">
    <i class="fas fa-universal-access"></i>: {{ overview.gsg}}
    </span>
    <span [ngStyle]="{'color' : overview.saw ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-tree"></i>:  {{ overview.saw}}
    </span>
    <span [ngStyle]="{'color' : overview.eva ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-laptop"></i>:  {{ overview.eva}}
    </span>
    <span [ngStyle]="{'color' : overview.log ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-clipboard"></i>: {{ overview.log}}
    </span>
    <span [ngStyle]="{'color' : overview.NS ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-plug"></i>: {{ overview.NS}}
    </span>
    <span [ngStyle]="{'color' : overview.RS ? 'black' : 'red'}" class="fa-4x">
      <i class="fas fa-medkit"></i>: {{ overview.RS}}
    </span>

  </mat-toolbar>
  <hr>  <!-- BLEIBT -->
  <!-- FÜHRUNGSKRÄFTE GWF / OWF / ZF-->
  <div class="grid-container">
    <div class="grid-items">
      <div class="grid-item" *ngFor="let kamerad of gwf">
        <header class="grid-item-name">
          <p
            [ngStyle]="{'background-color' : kamerad.funktionen.gwf ? 'yellow' : 'white'}">
            {{kamerad.lastName}}, {{kamerad.firstName[0]}}.
          </p>
        </header>
        <section class="grid-item-funktionen">
          <i class="fa fa-tachometer-alt fa-2x" [ngStyle]="{'color' : kamerad.funktionen.PA ? 'green' : 'grey'}"></i>
          <i class="fa fa-truck fa-2x" [ngStyle]="{'color' : kamerad.funktionen.CE ? 'green' : 'grey'}"></i>
          <i class="fa fa-universal-access fa-2x" [ngStyle]="{'color' : kamerad.funktionen.gsg ? 'green' : 'grey'}"></i>
          <i class="fa fa-tree fa-2x" [ngStyle]="{'color' : kamerad.funktionen.saw ? 'green' : 'grey'}"></i>
          <i class="fa fa-laptop fa-2x" [ngStyle]="{'color' : kamerad.funktionen.eva ? 'green' : 'grey'}"></i>
          <i class="fa fa-clipboard fa-2x" [ngStyle]="{'color' : kamerad.funktionen.log ? 'green' : 'grey'}"></i>
          <i class="fa fa-plug fa-2x" [ngStyle]="{'color' : kamerad.funktionen.NS ? 'green' : 'grey'}"></i>
          <i class="fa fa-medkit fa-2x" [ngStyle]="{'color' : kamerad.funktionen.RS ? 'green' : 'grey'}"></i>
        </section>
      </div>
      <div class="grid-item" *ngFor="let kamerad of owf">
        <header class="grid-item-name">
          <p
            [ngStyle]="{'background-color' : kamerad.funktionen.owf ? 'yellow' : 'white'}">
            {{kamerad.lastName}}, {{kamerad.firstName[0]}}.
          </p>
        </header>
        <section class="grid-item-funktionen">
          <i class="fa fa-tachometer-alt fa-2x" [ngStyle]="{'color' : kamerad.funktionen.PA ? 'green' : 'grey'}"></i>
          <i class="fa fa-truck fa-2x" [ngStyle]="{'color' : kamerad.funktionen.CE ? 'green' : 'grey'}"></i>
          <i class="fa fa-universal-access fa-2x" [ngStyle]="{'color' : kamerad.funktionen.gsg ? 'green' : 'grey'}"></i>
          <i class="fa fa-tree fa-2x" [ngStyle]="{'color' : kamerad.funktionen.saw ? 'green' : 'grey'}"></i>
          <i class="fa fa-laptop fa-2x" [ngStyle]="{'color' : kamerad.funktionen.eva ? 'green' : 'grey'}"></i>
          <i class="fa fa-clipboard fa-2x" [ngStyle]="{'color' : kamerad.funktionen.log ? 'green' : 'grey'}"></i>
          <i class="fa fa-plug fa-2x" [ngStyle]="{'color' : kamerad.funktionen.NS ? 'green' : 'grey'}"></i>
          <i class="fa fa-medkit fa-2x" [ngStyle]="{'color' : kamerad.funktionen.RS ? 'green' : 'grey'}"></i>
        </section>
      </div>
      <div class="grid-item" *ngFor="let kamerad of zf">
        <header class="grid-item-name">
          <p
            [ngStyle]="{'background-color' : kamerad.funktionen.ZF ? 'red' : 'white'}">
            {{kamerad.lastName}}, {{kamerad.firstName[0]}}.
          </p>
        </header>
        <section class="grid-item-funktionen">
          <i class="fa fa-tachometer-alt fa-2x" [ngStyle]="{'color' : kamerad.funktionen.PA ? 'green' : 'grey'}"></i>
          <i class="fa fa-truck fa-2x" [ngStyle]="{'color' : kamerad.funktionen.CE ? 'green' : 'grey'}"></i>
          <i class="fa fa-universal-access fa-2x" [ngStyle]="{'color' : kamerad.funktionen.gsg ? 'green' : 'grey'}"></i>
          <i class="fa fa-tree fa-2x" [ngStyle]="{'color' : kamerad.funktionen.saw ? 'green' : 'grey'}"></i>
          <i class="fa fa-laptop fa-2x" [ngStyle]="{'color' : kamerad.funktionen.eva ? 'green' : 'grey'}"></i>
          <i class="fa fa-clipboard fa-2x" [ngStyle]="{'color' : kamerad.funktionen.log ? 'green' : 'grey'}"></i>
          <i class="fa fa-plug fa-2x" [ngStyle]="{'color' : kamerad.funktionen.NS ? 'green' : 'grey'}"></i>
          <i class="fa fa-medkit fa-2x" [ngStyle]="{'color' : kamerad.funktionen.RS ? 'green' : 'grey'}"></i>
        </section>
      </div>
    </div>

  </div>
  <!--/ FÜHRUNGSKRÄFTE GWF / OWF / ZF -->
  <hr *ngIf="(gwf.length > 0 || owf.length > 0 || zf.length > 0)">
  <!--ALLE KAMERADEN AUSSER GWF / OWF / ZF-->

  <div class="grid-container">
    <div class="grid-items">
      <div class="grid-item" *ngFor="let kamerad of kameraden">
        <header class="grid-item-name">
          <p
            [ngStyle]="{'background-color' : kamerad.funktionen.GF ? 'blue' : '#e2e2e2', 'color' : kamerad.funktionen.GF ? 'white' : 'black'}">
            {{kamerad.lastName}}, {{kamerad.firstName[0]}}.
          </p>
        </header>
        <section class="grid-item-funktionen">
          <i class="fa fa-tachometer-alt fa-2x" [ngStyle]="{'color' : kamerad.funktionen.PA ? 'green' : 'grey'}"></i>
          <i class="fa fa-truck fa-2x" [ngStyle]="{'color' : kamerad.funktionen.CE ? 'green' : 'grey'}"></i>
          <i class="fa fa-universal-access fa-2x" [ngStyle]="{'color' : kamerad.funktionen.gsg ? 'green' : 'grey'}"></i>
          <i class="fa fa-tree fa-2x" [ngStyle]="{'color' : kamerad.funktionen.saw ? 'green' : 'grey'}"></i>
          <i class="fa fa-laptop fa-2x" [ngStyle]="{'color' : kamerad.funktionen.eva ? 'green' : 'grey'}"></i>
          <i class="fa fa-clipboard fa-2x" [ngStyle]="{'color' : kamerad.funktionen.log ? 'green' : 'grey'}"></i>
          <i class="fa fa-plug fa-2x" [ngStyle]="{'color' : kamerad.funktionen.NS ? 'green' : 'grey'}"></i>
          <i class="fa fa-medkit fa-2x" [ngStyle]="{'color' : kamerad.funktionen.RS ? 'green' : 'grey'}"></i>
        </section>
      </div>
    </div>
  </div>

  <!--<mat-grid-list cols="6" rowHeight="3:1">-->
  <!--<mat-grid-tile *ngFor="let kamerad of kameraden" class="mat-elevation-z4">-->
  <!--<mat-card>-->
  <!--<mat-card-title>-->
  <!--<h3 style="padding: 0; margin: 0"-->
  <!--[ngStyle]="{'background-color' : kamerad.funktionen.GF ? 'blue' : 'white', 'color' : kamerad.funktionen.GF ? 'white' : 'black'}">-->
  <!--{{kamerad.lastName}}, {{kamerad.firstName[0]}}.-->
  <!--</h3>-->
  <!--</mat-card-title>-->
  <!--<mat-card-content>-->
  <!--<i class="fa fa-tachometer-alt fa-2x" [ngStyle]="{'color' : kamerad.funktionen.PA ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-truck fa-2x" [ngStyle]="{'color' : kamerad.funktionen.CE ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-universal-access fa-2x" [ngStyle]="{'color' : kamerad.funktionen.gsg ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-tree fa-2x" [ngStyle]="{'color' : kamerad.funktionen.saw ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-laptop fa-2x" [ngStyle]="{'color' : kamerad.funktionen.eva ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-clipboard fa-2x" [ngStyle]="{'color' : kamerad.funktionen.log ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-plug fa-2x" [ngStyle]="{'color' : kamerad.funktionen.NS ? 'green' : 'grey'}"></i>-->
  <!--<i class="fa fa-medkit fa-2x" [ngStyle]="{'color' : kamerad.funktionen.RS ? 'green' : 'grey'}"></i>-->
  <!--</mat-card-content>-->
  <!--</mat-card>-->
  <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->
  <!-- / ALLE KAMERADEN AUSSER GWF / OWF / ZF-->


</div>
<div *ngIf="finishedLoading" style="position: absolute; bottom: 100px">
  <h3>Alle Kameraden</h3>
  <p> wirklich nur zum testen.... Es kann ein paar Sekunden dauern bis sich die Anzeige Ändert, gerade beim ersten klick</p>
  <button matTooltip="Es kann ein paar Sekunden dauern bis sich die Anzeige Ändert!" matTooltipPosition="above" mat-raised-button color="primary" style="margin: 3px;" *ngFor="let person of komplettesPersonal" (click)="toggleAnwesenheit(person.rfid)">{{person.lastName}}, {{person.firstName}}</button>
</div>
