<div class="d-flex justify-content-center">
  <app-alert-top
    style="width: 80%"
    [@alertState]="state"
    (@alertState.done)="handleDone()">
  </app-alert-top>
</div>
<!--<button class="btn btn-primary-outline" (click)="state == 'noError' ? state = 'error' : state = 'noError'" >toggle Error</button>-->

<ng-container *ngIf="_authService.afAuth.authState | async; let user; else showLogin">
  <div class="container" style="padding-top:1em">
    <app-header ></app-header>
  </div>
  <div class="container-fluid" style="padding-top: 1em">
    <router-outlet></router-outlet>
  </div>   
</ng-container>

<ng-template #showLogin>
 <app-login></app-login>
</ng-template>