.grid{
  display: grid;
  grid-template-areas:
    "searchbox searchbox searchbox"
    "personal-table personal-details personal-details";
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 5px;
}
.searchbox{
  grid-area: searchbox;
}
.personal-table{
  grid-area: personal-table;
}
.personal-details{
  grid-area: personal-details;
}
