<mat-toolbar>
  <span>Details ansehen / bearbeiten</span>
</mat-toolbar>
<div class="grid">
  <div class="input-field search searchbox bg-lg">
    <i class="fas fa-user-circle fa-lg"></i>
    <mat-form-field>
      <input
        matInput
        id="suche"
        placeholder="Suchen..."
        (keyup)='updateFilter($event)'
      >
      <mat-hint >...nach Nachname</mat-hint>
    </mat-form-field>
      <!--<label for="suche">Suchen per Nachnamen</label>-->
      <!--<input-->
        <!--class='validate'-->
        <!--id='suche'-->
        <!--type='text'-->
        <!--(keyup)='updateFilter($event)'-->
      <!--/>-->
  </div>
  <div class="personal-table bg-lg">
    <ngx-datatable
      class="material data-table bg-lg"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="10"
      [selected]="selected"
      [selectionType]="'single'"
      [rowHeight]="'auto'">
    </ngx-datatable>
  </div>
  <div class="personal-details bg-lg">
    <div *ngIf="selected.length > 0">
      <app-kamerad-form [personal]="selected[0]" [check1]="false" [check2]="false"></app-kamerad-form>
    </div>
  </div>
</div>

