/* You can add global styles to this file, and also import other style files */
//@import '/styles/materialize/sass/materialize.scss';
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.mat-app-background{
  margin: 0;
}

.bg-lg{
  background-color: lightgray;
}

.darker-backdrop{
  background-color: rgba(0,0,0,0.621);
}
.mat-dialog-container{
  overflow: inherit !important;
}
.closeBtn-top-right{
  position: absolute !important;
  top: -20px;
  right: -20px;
  z-index: 1001;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

datatable-body-cell{
  cursor: pointer !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
//
////displayCenter
//.float-center {
//  width: 50%;
//  padding-right: 15px;
//  padding-left: 15px;
//  margin-right: auto;
//  margin-left: auto;
//  margin-top: 15%;
//}
//
//@media (min-width: 576px) {
//  .float-center {
//    max-width: 440px;
//  }
//}
//
//@media (min-width: 768px) {
//  .float-center {
//    max-width: 620px;
//  }
//}
//
//@media (min-width: 992px) {
//  .float-center {
//    max-width: 660px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .float-center {
//    max-width: 840px;
//  }
//}

app-alert-top{
  //margin: 100px auto;
  position: fixed;
  z-index: 9999;
  width: auto;
  //text-align: center;
}




//
//
///* spinner style */
//.spinner {
//  position: relative;
//  width: 125px;
//  height: 125px;
//}
//.spinner:before, .spinner:after {
//  content: "";
//  display: block;
//  position: absolute;
//  border-width: 4px;
//  border-style: solid;
//  border-radius: 50%;
//}
//
///* spinner-1 styles */
//@-webkit-keyframes rotate-animation {
//  0% {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  100% {
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//  }
//}
//@keyframes rotate-animation {
//  0% {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  100% {
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//  }
//}
//@-webkit-keyframes anti-rotate-animation {
//  0% {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  100% {
//    -webkit-transform: rotate(-360deg);
//    transform: rotate(-360deg);
//  }
//}
//@keyframes anti-rotate-animation {
//  0% {
//    -webkit-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//  100% {
//    -webkit-transform: rotate(-360deg);
//    transform: rotate(-360deg);
//  }
//}
//.spinner.spinner-1:before {
//  width: 117px;
//  height: 117px;
//  border-bottom-color: #212121;
//  border-right-color: #212121;
//  border-top-color: rgba(33, 33, 33, 0);
//  border-left-color: rgba(33, 33, 33, 0);
//  top: 0px;
//  left: 0px;
//  -webkit-animation: rotate-animation 1s linear 0s infinite;
//  animation: rotate-animation 1s linear 0s infinite;
//}
//.spinner.spinner-1:after {
//  width: 81.9px;
//  height: 81.9px;
//  border-bottom-color: #212121;
//  border-right-color: #212121;
//  border-top-color: rgba(33, 33, 33, 0);
//  border-left-color: rgba(33, 33, 33, 0);
//  top: 17.55px;
//  left: 17.55px;
//  -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
//  animation: anti-rotate-animation 0.85s linear 0s infinite;
//}
