<form [formGroup]="newKameradForm" (ngSubmit)="onSubmit()">
  <!-- Ausgabe Name, Vorname und RFID -->
  <div class="grid-container">
    <div class="info bg-lg">
      <mat-form-field >
        <input matInput #inputName required id="inputName" placeholder="Nachname" formControlName="lastName" name="lastName" class="full-width">
        <span matSuffix><i class="far fa-edit"></i></span>
        <!--<mat-error *ngIf="newKameradForm.lastName.hasError.invalid()">Nachname darf nicht leer sein!</mat-error>-->
      </mat-form-field>
      <mat-form-field >
        <input matInput #inputFirstName required id="inputFirstName" placeholder="Vorname" formControlName="firstName" class="full-width">
        <span matSuffix><i class="far fa-edit"></i></span>
        <!--<mat-error *ngIf="inputFirstName.value == ''">Vorname darf nicht leer sein!</mat-error>-->
      </mat-form-field>
      <mat-form-field >
        <input matInput id="inputRfid" formControlName="rfid" class="full-width">
      </mat-form-field>
    </div>
    <!-- / Ausgabe Name, Vorname und RFID -->
    <!-- Ausgabe der Funktionen -->
    <div formGroupName="funktionen" class="grid-functions bg-lg">
      <div class="func1">
        <p>
          <label>
            <mat-checkbox formControlName="PA" color="primary"> Atemschutz <i
              class="fas fa-tachometer-alt fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="CE" color="primary"> Maschinist C/CE <i
              class="fas fa-truck fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="saw"  color="primary"> Kettensägenführer <i
              class="fas fa-tree fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="gsg"  color="primary"> Gefahrgut <i
              class="fas fa-universal-access fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
      </div>
      <div class="func2">
        <p>
          <label>
            <mat-checkbox formControlName="eva"  color="primary"> EFA-Gruppe <i
              class="fas fa-laptop fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="log"  color="primary"> Logistik-Gruppe <i
              class="fas fa-clipboard fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="NS" color="primary"> Notstrom-Gruppe <i
              class="fas fa-plug fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox formControlName="RS" color="primary"> NotSan / RettAss / RettSan <i
              class="fas fa-medkit fa-lg"></i>
            </mat-checkbox>
          </label>
        </p>
      </div>
      <div class="func3">
        <p>
          <label>
            <mat-checkbox
              #gfCheckbox
              formControlName="GF"
              (change)="checkDisables($event)"
              name="GF"
              color="primary"> Gruppenführung
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox
              #zfCheckbox
              formControlName="ZF"
              (change)="checkDisables($event)"
              name="ZF"
              color="primary"> Zugführung
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox
              #owfCheckbox
              formControlName="owf"
              (change)="checkDisables($event)"
              name="owf"
              color="primary">
              Ortswehrführung
            </mat-checkbox>
          </label>
        </p>
        <p>
          <label>
            <mat-checkbox
              #gwfCheckbox
              formControlName="gwf"
              name="gwf"
              (change)="checkDisables($event)"
              color="primary">
              Gemeindewehrführung
            </mat-checkbox>
          </label>
        </p>
      </div>
    </div>
    <div class="buttons bg-lg">
      <button mat-raised-button
              color="primary"
              type="submit">Speichern</button>
      <button mat-raised-button
              color="accent"
              type="button"
              (click)="onCancel()">Abbrechen</button>
    </div>
  </div>
</form>

<!-- OLD FORM -->
<!--<div class="card">-->
  <!--<div class="card-header">-->
    <!--<span class="h5">-->
      <!--Kamerad*in hinzufügen-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="card-body">-->
  <!--&lt;!&ndash;NEW PERSONAL FORM&ndash;&gt;-->
    <!--<div class="container">-->
      <!--<form [formGroup]="newKameradForm" (ngSubmit)="onSubmit();"> &lt;!&ndash;  kameradForm.reset() &ndash;&gt;-->
        <!--<div class="form-group row">-->
          <!--<label for="inputName" class="col-sm-2 col-form-label font-weight-bold">Nachname</label>-->
          <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="inputName" placeholder="Nachname*" formControlName="lastName">-->
            <!--<small *ngIf="lastName.touched && lastName.invalid" class="text-danger">Nachname erforderlich</small>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
          <!--<label for="inputFirstName" class="col-sm-2 col-form-label font-weight-bold">Vorname</label>-->
          <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="inputFirstName" placeholder="Vorname*" formControlName="firstName">-->
            <!--<small *ngIf="firstName.invalid && firstName.touched" class="text-danger">Vorname erforderlich</small>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
          <!--<label for="inputRfid" class="col-sm-2 col-form-label font-weight-bold">RFID</label>-->
          <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="inputRfid" placeholder="RFID*" formControlName="rfid">-->
            <!--<small *ngIf="rfid.invalid && rfid.touched" class="text-danger">RFID erforderlich</small>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group row" formGroupName="funktionen">-->
          <!--<div class="col-sm-2 font-weight-bold">Funktionen</div>-->
          <!--<div class="col">-->
            <!--<div class="row no-gutters">-->
              <!--<div class="col-sm-4">-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="PA" type="checkbox"> Atemschutz <i class="fa fa-tachometer fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="CE" type="checkbox"> Maschinist C/CE <i class="fa fa-truck fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="gsg" type="checkbox"> Gefahrgut <i class="fa fa-universal-access fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="saw" type="checkbox"> Kettensägenführer <i class="fa fa-tree fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->

              <!--</div>-->
              <!--<div class="col-sm-4">-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="eva" type="checkbox"> EVA-Gruppe <i class="fa fa-laptop fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="log" type="checkbox"> Logistik-Gruppe <i class="fa fa-clipboard fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="NS" type="checkbox"> Notstrom-Gruppe <i class="fa fa-plug fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="RS" type="checkbox"> NotSan / RettAss / RettSan <i class="fa fa-stethoscope fa-lg"></i>-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-sm-4">-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input text-light" formControlName="GF" type="checkbox"><span class="bg-primary text-white">Gruppenführung</span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="ZF" type="checkbox"><span class="bg-danger text-white">Zugführung</span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="owf" type="checkbox"><span class="bg-warning">Ortswehrführung</span>-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                  <!--<label class="form-check-label">-->
                    <!--<input class="form-check-input" formControlName="ZF" type="checkbox"><span class="bg-warning">Gemeindewehrfürung</span>-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
          <!--<div class="col-sm-2">-->
            <!--<button type="submit" [disabled]="newKameradForm.invalid"  class="btn btn-primary btn-block">Speichern</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
      <!--/NEW PERSONAL FORM-->
